:root {
  --black: rgba(10, 10, 10, 1);
  --white: #fff;

  --placeholder-color: rgba(51, 51, 51, 1);
  --input-border-color: rgba(145, 158, 171, 0.32);
  --input-focus-border-color: #404040;
  --font-family-base: 'Roboto', sans-serif;
  --font-size-base: 16px;
  --line-height-base: 1.5;
}
