.smallArticleImg {
  width: 560px;
  height: 275px;
  border-radius: 12px 12px 0 0;
}
.fullArticleImg {
  width: 1140px;
  height: 600px;
  border-radius: 12px 12px 0 0;
}
.mediumArticleImg {
  width: 850px;
  height: 480px;
  border-radius: 12px 12px 0 0;
}
